.btn-teal {
  width: 100%;
  border-radius: 0.375rem; 
  background-color: #0d9488; 
  padding: 1rem 1.25rem; 
  font-weight: 500; 
  color: #ffffff; 
  border: none;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
              0 4px 6px -2px rgba(0, 0, 0, 0.05); 

  transition: all 0.15s ease-in-out; 
}

.btn-teal:hover {
  background-color: #0f766e; 
  transform: scale(1.05); 
}

@media (prefers-color-scheme: dark) {
  .btn-teal:hover {
    background-color: #14b8a6; 
  }
}